<div class="col-sm-10 col-sm-offset-1 hid">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3 text-center">
<form>
  </div>
  <legend class="slabel" >Profile</legend>
    <fieldset class="form-group">

      <label class="slabel" for="firstname">First Name</label>
      <input
        type="text"
        name="firstname"
        ng-model="settings.settings.userInfo.name"
        class="form-control sbox"
        >
    <label class="slabel" for="modifierAmount">Last Name</label>
    <input
      type="text"
      name="lastname"
      ng-model=""
      class="form-control sbox"
      >
    <label class="slabel" for="email">Email</label>
    <input
      type="email"
      name="email"
      ng-model=""
      class="form-control sbox"
      >
  </fieldset>
  <fieldset class="form-group">
    <legend class="slabel" class="legend">Credentials</legend>
    <label class="slabel" for="username">Username</label>
    <input
      type="text"
      name="username"
      ng-model=""
      class="form-control sbox"
      >
    <label class="slabel" for="password">Password</label>
    <input
      type="password"
      name="password"
      ng-model=""
      class="form-control sbox"
      >
      <label class="slabel" for="conpassword">Confirm Password</label>
      <input
        type="password"
        name="conpassword"
        ng-model=""
        class="form-control sbox"
        >
  </fieldset>
</form>
</div>
</div>
</div>
